@charset "UTf-8";
body {
  margin: 0;
  padding: 0;
  font-family: "ABeeZee", sans-serif;
  font-family: "Questrial", sans-serif;
}
.all-container {
  margin: 2em 3em;
  max-width: 1100px;
}
h2 {
  color: #1d68ab;
}
