<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dental Clinic / Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      const storage = localStorage;
      storage.clear();
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
    <link th:href="@{/confirm_appointment.css}" rel="stylesheet" />
    <!-- add fontawesome link tag -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="all-container">
      <div>
        <p class="confirmtitle">Confirmation of Appointment</p>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div></div>
        <dl class="max-w-md text-gray-900 divide-y divide-gray-200">
          <div class="flex flex-col pb-3">
            <dt class="mb-1 text-gray-500 text-2xl">Appointment date</dt>
            <dd class="font-semibold text-2xl" th:text="${selected_time}"></dd>
          </div>
          <div class="flex flex-col py-3">
            <dt class="mb-1 text-gray-500 text-2xl">Doctor in charge</dt>
            <dd
              class="font-semibold text-2xl"
              th:text="${selected_doctor}"
            ></dd>
          </div>
        </dl>
      </div>
      <div class="mt-20 grid grid-cols-3 gap-4 h-30 text-center">
        <div class="my-10 text-sm font-medium text-gray-400">
          <i class="fa-solid fa-house"></i>
          <a th:href="@{/home}">Go Back to Home</a>
        </div>
        <div
          class="my-10 text-sm font-medium place-content-center text-gray-400"
        >
          <i class="fa-solid fa-book"></i>
          <a th:href="@{/book}">Continue to Book an Appointment</a>
        </div>
        <div
          class="my-10 text-sm font-medium place-content-center text-gray-400"
        >
          <i class="fa-solid fa-calendar-check"></i>
          <a th:href="@{/appointments}">Show Appointments</a>
        </div>
      </div>
    </div>
  </body>
</html>
