<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link  th:href="@{/home.css}" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>
    <div class="all-container">
      <h1>Group3 Dental Clinic</h1>
      <div class="clinic-information">
        <img
          class="clinic-information-img"
          src="../../static/images/atikah-akhtar-XJptUS8nbhs-unsplash (1).jpg"
          alt=""
        />
        <div class="clinic-information-text">
          <h2>Welcome to Our Clinic!</h2>
          <h3 class="title">Opening Hours</h3>
          <p>Mon-Fri 9:00am-5:00pm</p>
          <p>Saturdays 9:00am-4:00pm (occasionaly)</p>
          <h3 class="title">Adress</h3>
          <p>15300 105 Ave Suite 35, Surrey, BC V3R 6A7</p>
          <h3 class="title">Tell</h3>
          <p>+1 (123) 456-7890</p>
          <div class="button-container">
            <button>Book Appointment</button>
            <button>Show Appointment</button>
          </div>
        </div>
      </div>
      <h3 class="title">Service Menu</h3>
      <div class="service-menu-container">
        <div class="service-menu">
          <h4>Hygiene and Exam</h4>
          <p>
            A healthy smile starts with regular cleanings. Just like getting the
            oil changed in your car on a regular basis, it’s important to
            maintain your oral hygiene with consistent appointments.
          </p>
        </div>
        <div class="service-menu">
          <h4>Paediatric Care</h4>
          <p>
            If your child has more than one tooth or is at least one year old,
            they need to see a dentist! A healthy smile starts with the right
            dental care at a young age.
          </p>
        </div>
        <div class="service-menu">
          <h4>Dental bridges</h4>
          <p>
            If you’re missing one or more teeth or have a gap in between teeth,
            a dental bridge may be the solution for you! In a nutshell.
          </p>
        </div>
        <div class="service-menu">
          <h4>Crowns</h4>
          <p>
            What are crowns?Also known as a cap, a crown is a custom-made
            artificial restoration that permanently covers your tooth.
          </p>
        </div>
        <div class="service-menu">
          <h4>Invisalign</h4>
          <p>
            Dentures are replacements for missing teeth that can be taken out
            and put back into your mouth.‍
          </p>
        </div>
        <div class="service-menu">
          <h4>Dentures</h4>
          <p>
            Invisalign uses a series of computer-designed clear aligners that
            are composed of a virtually invisible polyurethane plastic.
          </p>
        </div>
      </div>
      <h3>Doctor's Profile</h3>
      <div class="doctor-img-allcontaimner">
        <div class="doctor-img-contaimner">
          <img
            class="doctorimg1"
            src="../../static/images/austin-distel-7bMdiIqz_J4-unsplash 2.jpg"
            alt="doctor1"
          />
          <p>Mike</p>
        </div>
        <div class="doctor-img-contaimner">
          <img
            class="doctorimg2"
            src="../../static/images/humberto-chavez-FVh_yqLR9eA-unsplash 2.jpg"
            alt="doctor2"
          />
          <p>Susan</p>
        </div>
        <div class="doctor-img-contaimner">
          <img
            class="doctorimg3"
            src="../../static/images/usman-yousaf-pTrhfmj2jDA-unsplash.jpg"
            alt="doctor3"
          />
          <p>Bob</p>
        </div>
      </div>
    </div>
  </body>
</html>
