<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/appointments.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <title>appointments</title>
  </head>
  <body>
    <div class="all-container">
      <h1>Appointment Details</h1>
      <p>Thank you for your appointments!</p>
      <p>Check your appointments details below.</p>
      <dl>
        <div class="appointment-title-detail">
          <dt>First Name</dt>
          <dd>amet</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Last Name</dt>
          <dd>venenatis</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Service Menu</dt>
          <dd>Hygiene and Exam</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Appoint Date & Time</dt>
          <dd>2000/01/01 10:00:00</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Doctor</dt>
          <dd>Amir</dd>
        </div>
      </dl>
      <p>See you then!</p>
      <div class="gobackhome_container">
        <i class="fa-solid fa-house"></i>
        <p><a href="/home">Go Back to Home</a></p>
      </div>
    </div>
  </body>
</html>
