<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/appointments.css}" rel="stylesheet" />
    <title>appointments</title>
  </head>
  <body>
    <div class="all-container">
      <h1>Appointment Details</h1>
      <p>Thank you for your appointments!</p>
      <p>Check your appointments details below.</p>
      <dl>
        <div class="appointment-title-detail">
          <dt>First Name</dt>
          <dd>amet</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Last Name</dt>
          <dd>venenatis</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Service Menu</dt>
          <dd>Hygiene and Exam</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Appoint Date & Time</dt>
          <dd>2000/01/01 10:00:00</dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Doctor</dt>
          <dd>Amir</dd>
        </div>
      </dl>
      <p>See you then!</p>
      <div class="button-container">
        <a href="/home">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 15l6-6m0 0l-6-6m6 6H9a6 6 0 000 12h3"
            />
          </svg>
          Go back to HOME
        </a>
      </div>
    </div>
  </body>
</html>
