<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/appointments.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <title>appointments</title>
  </head>
  <body>

    <div class="all-container">
      <h1>Appointment Details</h1>
      <p>Thank you for your appointments!</p>
      <p>Check your appointments details below.</p>

      <h2>Patient Name</h2>
      <dl style="margin-bottom: 70px">
        <div class="appointment-title-detail">
          <dt>First Name</dt>
          <dd th:text="${appointments[0].first_name}"></dd>
        </div>
        <div class="appointment-title-detail">
          <dt>Last Name</dt>
          <dd th:text="${appointments[0].last_name}"></dd>
        </div>
      </dl>

      <h2>Appointments</h2>
      <th:block th:each="appointment, appointmentStat : ${appointments}">
        <dl style="margin-bottom: 50px">
          <h4 th:text="${appointmentStat.count}"></h4>
          <div class="appointment-title-detail">
            <dt>Appoint Date & Time</dt>
            <dd th:text="${appointment.appointment_time}"></dd>
          </div>
          <div class="appointment-title-detail">
            <dt>Doctor</dt>
            <dd th:text="${appointment.doctor_name}"></dd>
          </div>
        </dl>
      </th:block>

      <p>See you then!</p>
      <div class="gobackhome_container">
        <i class="fa-solid fa-house"></i>
        <p><a href="/home">Go Back to Home</a></p>
      </div>
    </div>
  </body>
</html>
